{% extends "treptow/base.html" %}
{% block meta %}
	<link rel="preload" href="{{ url_for('static', filename='img/searx.png') }}" as="image" />
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='themes/treptow/home.css') }}" type="text/css">
{% endblock %}
{% block linkto_preferences %}{% endblock %}
{% block content %}
<nav id="linkto_preferences"><a href="{{ url_for('preferences') }}">{{ _('Preferences') }}</a></nav>
<div class="index">
    <div class="title"><h1>searx</h1></div>
    {% include 'treptow/search.html' %}
</div>
{% endblock %}
